* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica, neue";
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
input {
  width: 300px;
  height: 100px;
  background: #000;
  padding: 10px;
  margin: 40px;
  color: white;
  font-size: 30px;
  font-weight: 900;
}
button {
  background-color: rgb(9, 185, 255);
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
}
